:root {
  --nav-background: #0084fd;
  --primary-card-background: #b5ddff;
  --secondary-card-background: #9792e4;
  --footer-background: #333333;
}

*{
  box-sizing: border-box;
  margin: 0;
  padding: 0;
}

body {
  font-family: Arial, Helvetica, sans-serif;
}

/*Header e Nav*/
nav {
  width: 100%;
  margin: auto;
  padding: .9rem 2rem;
  background-color: var(--nav-background);
}
.nav-container {
  display: flex;
  justify-content: space-between;
  align-items: center;
}
#logo {
  vertical-align: middle;
}
.nav-menu {
  padding: 1rem;
  font-size: 25px;
  position: absolute;
  right: 2rem;
  top: .25rem;
}
.nav-menu:focus ~ ul {
  display: block;
}
nav ul {
  list-style: none;
  text-align: center;
  display: none;
}
nav ul a {
  display: inline-block;
  text-decoration: none;
  color: white;
  padding: .5rem 1rem;
}
.nav-btn {
  border: none;
  background-color: white;
  border-radius: 20px;     
  padding: 4px 10px;
}

/*Main*/
section{
  width: 100%;
  padding: 3rem 2rem;
  border: 1px solid green;
}
.row {
  width: 100%;
  max-width: 992px;
  margin: auto;
  display: flex;
  flex-direction: column;
  border: 1px dashed blue;
}
.col {
  width: 100%;
  margin: .8rem 0;
}
.col-l {
  height: 650px;
}
.col-m {
  height: 575px;
}
.col-s {
  height: 550px;
}
.col-xs {
  height: 500px;
}
.col-xxs {
  height: 400px;
}

/*Footer*/


/*Stili*/
.purple {
  background-color: var(--secondary-card-background);
}
.black {
  background-color: var(--footer-background);
}
.primary-bg {
  background-color: var(--primary-card-background);
}
.secondary-bg {
  background-color: var(--secondary-card-background);
}
.third-bg {
  background-color: white;
}
.primary-border {
  border-radius: 20px;
}
.secondary-border {
  border-radius: 50px;
}

/*Media query*/

/*Tablet*/
@media screen and (min-width: 480px) {
  .row {
    
  }
  .col-l {
    height: 650px;
  }
  .col-m {
    height: 575px;
  }
  .col-s {
    height: 550px;
  }
  .col-xs {
    height: 500px;
  }
  .col-xxs {
    height: 400px;
  }
}

/*Desktop*/
@media screen and (min-width: 768px) {
  
}